@model IEnumerable<Gym.Models.Profile>

@{
    Layout = "~/views/shared/AdminLayout.cshtml";
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Fname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Lname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gender)
            </th>
            <th>
                Image
               
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Fname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Lname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gender)
            </td>
            <td>
                    <img src=@Url.Content("~/Images/" + item.Imagepath)
                         asp-append-version="true" />
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Profileid">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Profileid">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Profileid">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
